* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: gray;
}

.div-main {
    display: flex;
    justify-content: center;
    background-color: orange;
    max-width: 1000px;
    height: 816px;
    padding: 10px;
}

h4 {
    margin-bottom: 10px;
}

.div-left-part {
    flex: 1;
    padding: 10px;
}

.div-investors {
    background-color: gray;
    padding: 10px;
    height: 96%;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

#inv-pages {
    max-width: 30px;
}

.inv-page-selector {
    margin-top: auto;
    align-self: flex-end;
}

.div-right-part {
    flex: 1;
    padding: 10px;

}

.div-right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.div-inf {
    background-color: gray;
    padding: 10px;
    height: 25%;
    margin-bottom: 15px;
}

.div-rec {
    background-color: gray;
    padding: 10px;
    height: 25%;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.div-inv-chat {
    background-color: gray;
    padding: 10px;
    height: 30.25%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.p-chat {
    margin-right: auto;
    align-self: flex-start;
}

.div-username {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}