* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;

}

.div-main {
    display: flex;
    justify-content: center;
    background-color: orange;
    max-width: 1000px;
    height: 816px;
    padding: 10px;
}

h4 {
    margin-bottom: 10px;
}

.div-left-part {
    flex: 1;
    padding: 10px;
}

.div-investors {
    background-color: gray;
    padding: 10px;
    height: 96%;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

#inv-pages {
    max-width: 30px;
}

.inv-page-selector {
    margin-top: auto;
    align-self: flex-end;
}

.div-right-part {
    flex: 1;
    padding: 10px;

}

.div-right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.div-inf {
    background-color: gray;
    padding: 10px;
    height: 25%;
    margin-bottom: 15px;
}

.div-rec {
    background-color: gray;
    padding: 10px;
    height: 25%;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.div-inv-chat {
    background-color: gray;
    padding: 10px;
    height: 30.25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.div-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: auto;
    font-size: 16px;
}

.div-right-messages {
    margin-bottom: auto;
    align-self: flex-end;
}

.div-left-messages {
    margin-bottom: auto;
    align-self: flex-start;
}

.div-right-message {
    background-color: aqua;
    padding: 5px;
    border-radius: 8px;
    width:fit-content;
    display: flex;
}

.div-left-message {
    background-color: lightgray;
    padding: 5px;
    border-radius: 8px;
    width:fit-content;
    display: flex;
}

.p-message-time {
    font-size: 10px;
    align-self: flex-end;
}

.p-nickname {
    color: #D0D0D0;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}

.low-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.div-username {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}