* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.div-main {
    display: flex;
    justify-content: center;
    background-color: orange;
    max-width: 1000px;
    
}

h4 {
    margin-bottom: 10px;
}

.div-left-part {
    flex: 1;
    padding: 10px;
}

.div-investors {
    background-color: gray;
    height: 480px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 10px;
}

#inv-pages {
    max-width: 30px;
}

.inv-page-selector {
    margin-top: auto;
    align-self: flex-end;
}

.div-tech {
    background-color: gray;
    height: 250px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.p-chat {
    margin-right: auto;
    align-self: self-start;
}

.div-right-part {
    flex: 1;
    padding: 10px;

}

.div-right-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.div-inf {
    background-color: gray;
    padding: 10px;
    height: 25%;
    margin-bottom: 10px;
}

.div-rec {
    background-color: gray;
    padding: 10px;
    height: 25%;
    margin-bottom: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.div-inv-chat {
    background-color: gray;
    padding: 10px;
    height: 31.5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}