* {
    box-sizing: border-box;
    margin: 0;
}

.div-main {
    display: flex;
    justify-content: center;
}

h4 {
    margin-bottom: 10px;
}

.div-left-part {
    background-color: aqua;
    flex: 1;
}

.div-investors {
    background-color: bisque;
    height: 500px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 10px;
}

.div-tech {
    background-color: bisque;
    height: 250px;
}

.div-tech {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.p-tech-chat {
    margin-right: auto;
    align-self: self-start;
}

.div-right-part {
    background-color: green;
    flex: 1;
}