* {
    box-sizing: border-box;
    margin: 0;
}

.div-main {
    display: flex;
    justify-content: center;
    
}

h4 {
    margin-bottom: 10px;
}

.div-left-part {
    background-color: aqua;
    flex: 1;
    
}

.div-investors {
    background-color: bisque;
    height: 480px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 10px;
}

#inv-pages {
    max-width: 30px;
}

.inv-page-selector {
    margin-top: auto;
    align-self: flex-end;
}

.div-tech {
    background-color: bisque;
    height: 250px;
}

.div-tech {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.p-tech-chat {
    margin-right: auto;
    align-self: self-start;
}

.div-right-part {
    background-color: green;
    flex: 1;
}

.div-inf {
    height: 25%;
}

.div-rec {
    height: 25%;
    margin-bottom: 62px;

}

.div-inv-chat {
    height: 25%;
}