* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
}

.div-main {
    background-color: orange;
    max-width: 1000px;

    margin-top: 200px;
    padding: 10px;
}

h4 {
    margin-bottom: 5px;
}

.div-tech-chat {
    background-color: gray;
    padding: 10px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.div-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: auto;
    font-size: 16px;
}

.div-right-messages {
    margin-bottom: auto;
    align-self: flex-end;
}

.div-left-messages {
    margin-bottom: auto;
    align-self: flex-start;
}

.div-right-message {
    background-color: #66CCFF;
    padding: 5px;
    border-radius: 8px;
    width:fit-content;
    display: flex;
}

.div-left-message {
    background-color: lightgray;
    padding: 5px;
    border-radius: 8px;
    width:fit-content;
    display: flex;
}

.p-message-time {
    font-size: 10px;
    align-self: flex-end;
}

.p-nickname {
    color: #D0D0D0;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}

.low-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}